---
import { Image } from "astro:assets";
import entuple from "../../assets/entuple.webp";
import pes from "../../assets/pes.webp";
import tcs from "../../assets/tcs.webp";
import { MY_EXPERIENCE } from "../../consts";
---

<section
	class="w-full md:w-[97%] mt-24 border-t border-zinc-300 dark:border-zinc-700"
>
	<p class="">Experience</p>
	<article class="mt-16">
		{
			MY_EXPERIENCE.map((i) => (
				<div class="flex justify-between group">
					<div class="flex flex-col gap-2 mb-24 justify-evenly">
						<h3 class="flex items-center p-0 m-0 dark:m-0 dark:p-0">
							<span class="sm:w-12 md:w-24 h-[1px] sm:mr-4 bg-zinc-300" />
							{i.company}
						</h3>
						<div class="flex flex-col gap-4 md:ml-28">
							<p class="p-0 m-0 text-lg">
								{i.role}
								<span class="text-zinc-500"> - {i.location}.</span>
							</p>
							<ul class="ml-5 list-disc marker:text-rose-600 dark:marker:text-[#05ce91] max-w-[600px]">
								{i.pointers?.map((pointer) => (
									<li>{pointer}</li>
								))}
							</ul>
						</div>
					</div>
					<div class="h-full bg-white md:mr-32 rounded-lg">
						<Image
							src={
								i.image === "tcs" ? tcs : i.image === "entuple" ? entuple : pes
							}
							height="200"
							width="200"
							class="border lg:block shadow-xl w-[200px] h-[200px] object-contain p-4"
							alt="company"
							quality="high"
						/>
					</div>
				</div>
			))
		}
	</article>
</section>
