---
const today = new Date();
---

<footer>
	<section class="flex flex-col items-center justify-center p-2 bg-zinc-300">
		<div>
			<!-- Icons here and other footer content -->
		</div>
		<div class="text-sm">
			Coded with
			<span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="inline-block w-5 h-5 mx-1 mb-1"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					aria-hidden="true"
					stroke-width="2"
					><path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
					></path></svg
				>
			</span>
			 by Nidhish Nayak
		</div>
	</section>
</footer>
