---
import { SITE_TITLE } from "../consts";
import Hamburger from "./Hamburger.astro";
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
	<nav
		class="flex items-center justify-between h-16 pt-4 pb-4 mx-auto max-w-screen-2xl"
	>
		<Hamburger />
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="gap-4 md:flex">
			<div class="hidden gap-4 md:flex">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
			<ThemeIcon />
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	nav a {
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		background-color: red;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
