---
import Hamburger from "./Hamburger.astro";
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="dark:bg-[#090b0a]">
	<nav
		class="relative flex items-center justify-between h-16 px-4 pt-4 pb-4 mx-auto bg-white dark:bg-[#090b0a] max-w-screen-2xl"
	>
		<Logo />
		<Hamburger />
		<div class="gap-8 ml-auto md:flex">
			<div class="items-center justify-center hidden gap-4 md:flex">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
			<ThemeIcon />
		</div>
	</nav>
</header>

<style>
	nav a {
		border-bottom: 1px solid transparent;
		text-decoration: none;
		border-radius: 0;
	}

	nav a.active {
		border-bottom-color: var(--accent);
	}

	:global(.dark) nav a.active {
		border-bottom-color: #05ce91;
	}
</style>
