---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
	href={href}
	class:list={[className, { active: isActive }]}
	{...props}
	class="flex flex-col items-center justify-center px-4 font-sans text-lg text-black md:block"
>
	<slot />
</a>
<style>
	a {
		font-family: "Jost", sans-serif;
	}
</style>
