---
import Hamburger from "./Hamburger.astro";
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
	<nav
		class="flex items-center justify-between px-4 h-16 pt-4 pb-4 dark:bg-black bg-white mx-auto max-w-screen-2xl"
	>
		<Hamburger />
		<div class="gap-8 md:flex ml-auto">
			<div class="hidden gap-4 md:flex justify-center items-center">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
			<ThemeIcon />
		</div>
	</nav>
</header>

<style>
	nav a {
		border-bottom: 1px solid transparent;
		text-decoration: none;
		border-radius: 0;
	}

	nav a.active {
		border-bottom-color: #cecece;
	}
</style>
