---
import About from "../components/hero/AboutMe.tsx";
import HeroSection from "../components/hero/HeroSection.tsx";
import Skills from "../components/hero/Skills.tsx";
import SideRibbon from "./SideRibbon.astro";
import Projects from "./hero/Projects.astro";
---

<main
	class="flex flex-col items-start justify-start min-h-screen p-4 max-w-screen-2xl"
>
	<HeroSection />
	<Projects />
	<Skills />
	<About />
	<SideRibbon />
</main>
