---
import HeroSection from "../components/hero/HeroSection.tsx";
import Projects from "../components/hero/Projects.tsx";
import SideRibbon from "./SideRibbon.tsx";
---

<main
	class="flex flex-col items-start justify-start min-h-screen p-4 max-w-screen-2xl"
>
	<HeroSection />
	<Projects />
	<SideRibbon />
</main>
