---
import Projects from "./Projects";
import SideRibbon from "./SideRibbon";
---

<main
	class="flex flex-col items-start justify-start min-h-screen p-4 max-w-screen-2xl"
>
	<section class="grid items-end justify-center grid-cols-3 gap-8 mt-10">
		<p class="text-md max-w-[400px] col-span-1 row-start-1">
			Design and Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error
			eaque similique quae ullam.
		</p>
		<h1
			class="col-span-2 row-start-1 m-0 font-bold tracking-tighter dark:m-0 text-8xl"
		>
			Nayan Malkhedkar
		</h1>
		<p class="flex col-start-2 row-start-2 gap-2 mt-8 ml-1 font-semibold">
			<span class="text-rose-600">Bangalore,</span><span>India</span>
		</p>
	</section>
	<section class="col-span-3 col-start-1 mt-24 border-t border-zinc-300">
		<Projects />
	</section>
	<SideRibbon />
</main>
